/* Example */
/* =========================================================================*/
.example {
    border: 1px solid $colour-medium-grey;
    padding: 1em;
    margin-bottom: 1em;
}
.example > * {
    margin-top:0;
    margin-bottom:0;
}
