/* Icons */
/* =========================================================================*/
.icon {
    display: inline-block;
    background-position: 0 0;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.icon__twitter-dark-grey {
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-twitter-dark-grey.png");
    background-size: 100%;
}
.icon__linkedin-dark-grey {
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-linkedin-dark-grey.png");
    background-size: 100%;
}
.icon__facebook-dark-grey {
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-facebook-dark-grey.png");
    background-size: 100%;
}
