/* Swatches */
/* =========================================================================*/
.swatch {
    text-align: center;
    width: 8em;
    display: inline-block;
    margin-right: 1em;
}
.swatch__circle {
    border-radius: 100%;
    width: 3em;
    height: 3em;
    margin: 0 auto;
}
// Overide the standard zero margin on all children of example
.example > .swatch__circle {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
