/* Typography */
/* =========================================================================*/
body {
    color: $colour-dark-grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    @media screen and (min-width: $break-large) {
      font-size: 120%;
    }
}
/* Headings */
.heading--xlarge {
    font-size: 48px;
    font-weight: bold;
}
.heading--large {
    font-size: 36px;
    font-weight: bold;
}
.heading--medium {
    font-size: 24px;
    font-weight: bold;
}
.heading--small {
    font-size: 18px;
    font-weight: bold;
}
.heading--white {
    color: $colour-white;
}
/* Weights */
.font-weight--light {
  font-weight: 300;
}
.font-weight--regular {
  font-weight: 400;
}
.font-weight--semi-bold {
  font-weight: 600;
}
.font-weight--bold {
  font-weight: 700;
}
/* Lists */
ul {
    padding-left: 0;
}
