body {
  color: #314249;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Header */

.header {
  background-color: #314249;
}

.header__wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 1em 0;
}

.header__page-title {
  color: #ffffff;
  margin: 0;
}

/* Main Content */

.content {
  margin: 0 auto;
  max-width: 960px;
}

/* Lists */

ul {
  padding-left: 0;
}

/* Colour Swatches */

.swatch {
  display: inline-block;
  padding-right: 1em;
}

.swatch__heading {
  margin-bottom: .5em;
}

.swatch__circle {
  width: 10em;
  height: 10em;
  margin: 0 auto;
}

.swatch__value {
  margin-top: .5em;
}

.swatch__circle--orange {
  background-color: #F8981D;
}

.swatch__circle--light-grey {
  background-color: #EBEEEE;
}
