/* Colours */
/* =========================================================================*/
/* Colour variables */
/* Background colour classes */
.background--orange {
  background-color: #F8981D; }

.background--white {
  background-color: #FFFFFF; }

.background--light-grey {
  background-color: #EBEEEE; }

.background--medium-grey {
  background-color: #90999C; }

.background--dark-grey {
  background-color: #314249; }

.background--pink {
  background-color: #F16183; }

.background--peach {
  background-color: #FE9F82; }

.background--yellow {
  background-color: #EACD86; }

.background--green {
  background-color: #5ED789; }

.background--turquoise {
  background-color: #6AD8CB; }

.background--blue {
  background-color: #3870AD; }

.background--purple {
  background-color: #9377DF; }

.background--warm-grey {
  background-color: #898681; }

/* Typography */
/* =========================================================================*/
body {
  color: #314249;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5; }
  @media screen and (min-width: 1200px) {
    body {
      font-size: 120%; } }

/* Heading Font Size */
.heading--xxlarge {
  font-weight: 900;
  line-height: 1; }
  @media screen and (min-width: 1200px) {
    .heading--xxlarge {
      font-size: 4em; } }

.heading--xlarge {
  font-weight: bold;
  line-height: 1.1; }
  @media screen and (min-width: 1200px) {
    .heading--xlarge {
      font-size: 3em; } }

.heading--large {
  font-weight: bold;
  line-height: 1.1; }
  @media screen and (min-width: 1200px) {
    .heading--large {
      font-size: 2em; } }

.heading--medium {
  font-weight: bold;
  line-height: 1.1; }
  @media screen and (min-width: 1200px) {
    .heading--medium {
      font-size: 1.3em; } }

.heading--small {
  font-weight: bold;
  line-height: 1.1; }
  @media screen and (min-width: 1200px) {
    .heading--small {
      font-size: 1.1em; } }

/* Font Size */
.font-size--medium {
  font-size: 1.3em; }

/* Font Weights */
.font-weight--light {
  font-weight: 300; }

.font-weight--regular {
  font-weight: 400; }

.font-weight--semi-bold {
  font-weight: 600; }

.font-weight--bold {
  font-weight: 700; }

/* Alignment */
.text--align-center {
  text-align: center; }

.text--align-right {
  text-align: right; }

/* Spacing */
.margin-bottom--none {
  margin-bottom: 0; }

.padding-bottom--medium {
  padding-bottom: 2em; }

/* Colours */
.font-color--white {
  color: #FFFFFF; }

.font-color--orange {
  color: #F8981D; }

.font-color--light-grey {
  color: #EBEEEE; }

.font-color--medium-grey {
  color: #90999C; }

.font-color--dark-grey {
  color: #314249; }

.font-color--pink {
  color: #F16183; }

.font-color--peach {
  color: #FE9F82; }

.font-color--yellow {
  color: #EACD86; }

.font-color--green {
  color: #5ED789; }

.font-color--turquoise {
  color: #6AD8CB; }

.font-color--blue {
  color: #3870AD; }

.font-color--purple {
  color: #9377DF; }

.font-color--warm-grey {
  color: #898681; }

/* Width */
@media screen and (min-width: 950px) {
  .font-width--half {
    width: 50%;
    margin-left: auto;
    margin-right: auto; } }
/* Lists */
ul {
  padding-left: 0;
  list-style: none; }

ul li:before {
  content: '/ ';
  margin-right: 0.5em; }

/* Links */
a {
  color: #2c5786; }

/* Layout */
/* =========================================================================*/
/* Grid */
.row {
  margin: 0 auto; }

.column {
  width: 100%;
  padding: 1em 5%; }

.column--medium-padding {
  padding: 2em 10% 2em 10%; }

.column--large-padding {
  padding: 4em 20% 4em 20%; }

.column--no-padding {
  padding: 0; }

@media screen and (min-width: 950px) {
  .column {
    float: left; }

  .column--half {
    width: 50%; }

  .column--third {
    width: 33.3333333%; }

  .column--quarter {
    width: 25%; }

  .column--sixth {
    width: 16.6666667%; } }
/* Square containers */
@media screen and (min-width: 950px) {
  .square {
    position: relative;
    padding: 0; }

  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%; }

  .square__content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 5%; } }
@media screen and (min-width: 1200px) {
  .square__content {
    padding: 8% 13%; } }
/* Container */
.container {
  max-width: 1600px;
  margin: 0 auto; }

.container--border {
  border-bottom: 1px solid #EBEEEE; }

/* Body */
body {
  background-color: #dde2e2; }

/* Border box hack */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Clearfix */
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/* Visually Hidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Images */
/* =========================================================================*/
img {
  height: auto;
  width: 100%;
  vertical-align: middle; }

/* Icons */
/* =========================================================================*/
.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: middle; }

.icon__twitter-dark-grey {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-twitter-dark-grey.png");
  background-size: 100%; }

.icon__linkedin-dark-grey {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-linkedin-dark-grey.png");
  background-size: 100%; }

.icon__facebook-dark-grey {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-facebook-dark-grey.png");
  background-size: 100%; }

/* Header */
/* =========================================================================*/
.header {
  padding-top: .8em;
  padding-bottom: 1em; }

/* Footer */
/* =========================================================================*/
.footer {
  padding-top: 2em;
  padding-bottom: 2em; }

/* Logo */
/* =========================================================================*/
.logo {
  width: 4em; }

/* Example */
/* =========================================================================*/
.example {
  border: 1px solid #90999C;
  padding: 0.5em;
  margin-bottom: 1em;
  /* Stop long words breaking out https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto; }

.example > * {
  margin-top: 0;
  margin-bottom: 0; }

.example--no-border {
  border: none;
  padding: 0; }

.example__caption {
  padding: 1em 0; }

/* Swatches */
/* =========================================================================*/
.swatch {
  text-align: center; }

.swatch__circle {
  border-radius: 100%;
  width: 3em;
  height: 3em;
  margin: 0 auto; }

.example > .swatch__circle {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

/* Filterz */
/* =========================================================================*/
.filter {
  position: relative;
  display: inline-block; }

.filter__image--desaturate {
  -webkit-filter: saturate(0%);
  filter: saturate(0%); }

.filter__image--multiply {
  mix-blend-mode: multiply; }

/*# sourceMappingURL=style.css.map */
