/* Colours */
/* =========================================================================*/
/* Colour variables */
/* Background colour classes */
.background--orange {
  background-color: #F8981D; }

.background--light-grey {
  background-color: #EBEEEE; }

.background--medium-grey {
  background-color: #90999C; }

.background--dark-grey {
  background-color: #314249; }

.background--pink {
  background-color: #F16183; }

.background--pink {
  background-color: #F16183; }

.background--peach {
  background-color: #FE9F82; }

.background--yellow {
  background-color: #EACD86; }

.background--green {
  background-color: #5ED789; }

.background--turquoise {
  background-color: #6AD8CB; }

.background--blue {
  background-color: #3870AD; }

.background--purple {
  background-color: #9377DF; }

.background--warm-grey {
  background-color: #898681; }

/* Typography */
/* =========================================================================*/
body {
  color: #314249;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%; }
  @media screen and (min-width: 1200px) {
    body {
      font-size: 130%; } }

/* Heading Font Size */
.heading--xxlarge {
  font-size: 4em;
  font-weight: bold; }

.heading--xlarge {
  font-size: 2.5em;
  font-weight: bold; }

.heading--large {
  font-size: 2em;
  font-weight: bold; }

.heading--medium {
  font-size: 1.3em;
  font-weight: bold; }

.heading--small {
  font-size: 1.1em;
  font-weight: bold; }

/* Font Weights */
.font-weight--light {
  font-weight: 300; }

.font-weight--regular {
  font-weight: 400; }

.font-weight--semi-bold {
  font-weight: 600; }

.font-weight--bold {
  font-weight: 700; }

/* Alignment */
.text--align-center {
  text-align: center; }

.text--align-right {
  text-align: right; }

/* Spacing */
.margin-bottom--none {
  margin-bottom: 0; }

.padding-bottom--medium {
  padding-bottom: 2em; }

/* Colours */
.font-color--white {
  color: #FFFFFF; }

.font-color--orange {
  color: #F8981D; }

/* Lists */
ul {
  padding-left: 0;
  list-style: none; }

/* Links */
a {
  color: #2c5786; }

/* Layout */
/* =========================================================================*/
/* Grid */
.row {
  margin: 0 auto;
  max-width: 400px;
  padding-left: 0.5em;
  padding-right: 0.5em; }
  @media screen and (min-width: 750px) {
    .row {
      max-width: 1000px; } }

@media screen and (min-width: 750px) {
  .column {
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 100%; }

  .column.half {
    width: 50%; }

  .column.third {
    width: 33.3333333%; }

  .column.quarter {
    width: 25%; }

  .column.sixth {
    width: 16.6666667%; } }
/* Container */
.container {
  padding-top: 1em;
  padding-bottom: 3em; }

.container--border {
  border-bottom: 1px solid #EBEEEE; }

/* Border box hack */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Clearfix */
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/* Visually Hidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Images */
/* =========================================================================*/
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

/* Icons */
/* =========================================================================*/
.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: middle; }

.icon__twitter-dark-grey {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-twitter-dark-grey.png");
  background-size: 100%; }

/* Header */
/* =========================================================================*/
.header {
  padding-top: 1.8em;
  padding-bottom: 2em; }

/* Logo */
/* =========================================================================*/
.logo {
  width: 4em; }

/* Example */
/* =========================================================================*/
.example {
  border: 1px solid #90999C;
  padding: 0.5em;
  margin-bottom: 1em;
  /* Stop long words breaking out https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto; }

.example > * {
  margin-top: 0;
  margin-bottom: 0; }

.example--no-border {
  border: none;
  padding: 0; }

.example__caption {
  text-align: center;
  padding: 1em 0; }

/* Swatches */
/* =========================================================================*/
.swatch {
  text-align: center; }

.swatch__circle {
  border-radius: 100%;
  width: 3em;
  height: 3em;
  margin: 0 auto; }

.example > .swatch__circle {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

/* Filterz */
/* =========================================================================*/
.filter {
  position: relative;
  display: inline-block; }

.filter__image--desaturate {
  -webkit-filter: saturate(0%);
  filter: saturate(0%); }

.filter__image--multiply {
  mix-blend-mode: multiply; }

/*# sourceMappingURL=style.css.map */
